.logo {
  height: 27px;
  width: 114px;
}

.maxContent {
  width: max-content;
}

.authFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px 40px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
